body {
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-color: #dee8ff;
  font-family: "Red Hat Display";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.hero img {
  border-radius: 30px 30px 0px 0px;
}

.title-description {
  padding: 0px 50px;
}

.price-component {
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 697px;
}

.title-description h1 {
  color: #1f2e55;
  text-align: center;
  font-weight: 900;
}

.title-description p {
  color: #717fa6;
  font-weight: 500;
  text-align: center;
}

.pricing {
  display: flex;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 70%;
  justify-content: space-between;
  background-color: #f7f9ff;
  padding: 20px;
  border-radius: 15px;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.pricing-plan-type {
  padding-left: 15px;
  margin-bottom: 5px;
  color: #1f2e55;
  font-weight: 900;
}

.pricing-plan-amount {
  padding-left: 15px;
  color: #717fa6;
}

.pricing-change {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-change a:hover {
  color: #766cf1;
  text-decoration: none;
  transition: color 0.2s ease;
}

.checkout-btn button {
  cursor: pointer;
  font-family: "Red Hat Display";
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #382ae1;
  width: 370px;
  padding: 20px 0px;
  border: none;
  border-radius: 11px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.checkout-btn button:hover {
  background-color: #766cf1;
  transition: background-color 0.2s ease;
}

.cancel-btn button {
  cursor: pointer;
  margin-top: 40px;
  border: none;
  background-color: inherit;
  color: #717fa6;
  font-family: "Red Hat Display";
  font-size: 15px;
  font-weight: 700;
}

.cancel-btn button:hover {
  color: #1f2e55;
  transition: color 0.2s ease;
}

.attribution {
  position: absolute;
  bottom: 2px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
